<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath*:musicPlayer.properties"/>



    <bean id="musicClassicalBean"
          class="com.raining.spring.music.ClassicalMusic"
          init-method="doMyInit"
    destroy-method="doMyDestroy"
    factory-method="getClassicalMusic">

    </bean>
    <bean id="musicRockBean"
          class="com.raining.spring.music.RockMusic">

    </bean>
    <bean id="musicPopBean"
          class="com.raining.spring.music.PopMusic">

    </bean>
    <bean id="musicPlayer"
          class="com.raining.spring.music.MusicPlayer"
    scope = "prototype">
        <property name="musicList">
        <util:list list-class="java.util.ArrayList" id="musicList"
                   value-type="com.raining.spring.music.Music">
                <ref bean="musicClassicalBean"/>
                <ref bean="musicRockBean"/>
                <ref bean="musicPopBean"/>
        </util:list>
        </property>
<!--        <property name="music" ref = "musicBean"/>-->
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
<!--        <property name="name" value="SonyPlayer"/>-->
<!--        <property name="volume" value="20"/>-->
    </bean>

</beans>